<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Word Count</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div class="page-content">
    <h1 th:text="|Error ${code}!|"></h1>
    <h2 th:text="${message}"></h2>
</div>
</body>
</html>