<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Word Count</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div class="page-content">
    <h1 th:text="|Word Count on ${name}|"></h1>
    <h2 th:text="|Total Count ${count}|"></h2>
    <h2 th:text="|Top 10|"></h2>
    <div style="margin-left: 1rem">
        <ul th:each="top: ${tops}">
            <li th:text="${top}"></li>
        </ul>
    </div>
</div>
</body>
</html>